### Lists are collection of items in a particular order. Lists are mutable i.e can change the elements of list using index operatror
#### https://docs.python.org/3/tutorial/datastructures.html

In [1]:
l = list()
print(dir(l))

['__add__', '__class__', '__class_getitem__', '__contains__', '__delattr__', '__delitem__', '__dir__', '__doc__', '__eq__', '__format__', '__ge__', '__getattribute__', '__getitem__', '__gt__', '__hash__', '__iadd__', '__imul__', '__init__', '__init_subclass__', '__iter__', '__le__', '__len__', '__lt__', '__mul__', '__ne__', '__new__', '__reduce__', '__reduce_ex__', '__repr__', '__reversed__', '__rmul__', '__setattr__', '__setitem__', '__sizeof__', '__str__', '__subclasshook__', 'append', 'clear', 'copy', 'count', 'extend', 'index', 'insert', 'pop', 'remove', 'reverse', 'sort']

In [7]:
friends = ['John','Sally']
print(friends[1])
print(len(friends))
print(range(len(friends))) #0 to n-1
print(range(2))

Sally
2
range(0, 2)
range(0, 2)

In [38]:
# range 
# The adv of range type over regular list or tuple is that a range object will always take the same (small) amount of memory
# no matter the size of the range it represents as it only stores the start, stop and step values
x = range(5)
print(type(x),x)
range(0) == range(2, 1, 3)

<class 'range'> range(0, 5)

True

##### 2 ways to iterate a list

In [8]:
# Way 1
for i in friends:
    print(i)
    
#way 2
for i in range(len(friends)):
    print('{} at {}'.format(friends[i],i))

John
Sally
John at 0
Sally at 1

In [2]:
num = [1,2,3,4,5,6]
num[2:4]

[3, 4]

#### Append(x) vs Extend(iterable)

Strings are immutable so these methods would return variable whereas lists are mutable so appending changes the variable.

In [13]:
stuff = list()
another_list = [1,0,3]
stuff.append('book')
stuff.append(99)
stuff.append(another_list)
stuff.insert(0,'InsertFirst')
print("Stuff : ",stuff)

del stuff[1]    #delete first index
print("Stuff : ",stuff)

new_stuff = stuff.pop()
print("Stuff after pop(): ",stuff)
print("new_stuff after pop() : ",new_stuff,"\n")


for i in range(len(stuff)):
    print(stuff[i])

Stuff :  ['InsertFirst', 'book', 99, [1, 0, 3]]
Stuff :  ['InsertFirst', 99, [1, 0, 3]]
Stuff after pop():  ['InsertFirst', 99]
new_stuff after pop() :  [1, 0, 3]

InsertFirst
99

In [13]:
stuff = list()
another_list = [1,0,3]
stuff.extend('book')
#stuff.extend(99)  #throws error - 'int' object is not iterable
stuff.extend(another_list)
print("Stuff : ",stuff)

for i in range(len(stuff)):
    print(stuff[i])

Stuff :  ['b', 'o', 'o', 'k', 1, 0, 3]
b
o
o
k
1
0
3

In [17]:
# IN AS LOGICAL OPERATOR
stuff = ['book', 99, [1, 0, 3]]
print(99 in stuff)
print('camel' not in stuff)

True
True

In [23]:
# Sort the items of the list IN PLACE 
friends = ['John','Sally','Gwenn']
friends.sort()
print(friends)

# integers can’t be compared to strings and None can’t be compared to other types.
exception = [None, 'hello', 10]
exception.sort()

['Gwenn', 'John', 'Sally']

TypeError: '<' not supported between instances of 'str' and 'NoneType'

In [29]:
# NESTED LIST COMPREHENSIONS
from math import pi
x = [str(round(pi, i)) for i in range(1, 6)]
x
#type(x[0])

['3.1', '3.14', '3.142', '3.1416', '3.14159']

In [40]:
l1 = [[4, 5, 3, 9], [7, 1, 8, 2], [5, 6, 4, 7]]
l2 = []

for i in range(len(l1[0])):
    row = []
    for x in l1:         #x = [4, 5, 3, 9]
        row.append(x[i])  #append first element of each inner list to row[]
    l2.append(row)

print(l2)


## method 2
transposed = []
for i in range(len(l1[0])):
    transposed.append([row[i] for row in l1])
print(transposed)


for item in zip([1, 2, 3], ['sugar', 'spice', 'everything nice']):
    print(item)

[[4, 7, 5], [5, 1, 6], [3, 8, 4], [9, 2, 7]]
[[4, 7, 5], [5, 1, 6], [3, 8, 4], [9, 2, 7]]

In [45]:
for item in zip([1, 2, 3],[4,5,6]):
    print(item)

#zip() along with the unpacking operator *
pairs = [(1, 'a'), (2, 'b'), (3, 'c'), (4, 'd')]
numbers, letters = zip(*pairs)
numbers

(1, 4)
(2, 5)
(3, 6)

In [49]:
list(zip(*l1))

[(4, 7, 5), (5, 1, 6), (3, 8, 4), (9, 2, 7)]

In [2]:
#concat lists
a = [1,2,3]
b = [4,5,6]
a+b

[1, 2, 3, 4, 5, 6]

In [6]:
#slicing lists
a[1:2]

[2]

In [8]:
#lists maintain order
avg = (sum(a)/len(a))
avg

2.0

In [30]:
# Strings & Lists
# Split breaks [string] into [list of strings] 

abc = 'We three           friends'
stuff = abc.split()  #by default, on whitespace, treats more than one space as single space
print(stuff)

for word in stuff:
    print('word: ',word)

['We', 'three', 'friends']
word:  We
word:  three
word:  friends

In [27]:
print('1,2,3'.split(','))
print('   1   2   3   '.split()) #leading and trailing whitespaces disregarded

a = '1,2,3'.split(',', maxsplit=1)
print('\nlist: ',a, '\nlength: ',len(a))
print(a[1])

['1', '2', '3']
['1', '2', '3']

list:  ['1', '2,3']
length:  2
2,3

['1', '2,3']
2,3